.main-section {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 94vh;
  min-height: 600px;
  background-image: url('/home.jpg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  color: #fff;
  @include mobile {
    min-height: 540px;
  }
  .container { display: flex; }
  .text {
    width: 100%;
    max-width: 936px;
    margin: 0 auto;
    text-align: center;
    @include tablet {
      max-width: 640px;
    }
    @include mobile {
      margin-top: 40px;
    }
    p {
      margin-top: 18px;
      max-width: 900px;
      font-size: 20px;
      line-height: 28px;
      @include desktop {
        font-size: 16px;
        line-height: 24px;
      }
    }
    .button { margin-top: 70px; }
  }
}

.about-section {
  padding: 90px 0;
  text-align: center;
  background: #fff;
  @include tablet {
    padding: 50px 0;
  }
  p {
    margin-top: 60px;
    font-size: 18px;
    line-height: 24px;
    @include desktop {
      font-size: 16px;
      line-height: 20px;
    }
    @include tablet {
      margin-top: 30px;
    }
    @include mobile {
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.features-section {
  position: relative;
  background: #424242;
  padding: 90px 0 193px 0;
  @include tablet {
    padding: 50px 0 100px 0;
    &::before { display: none; }
  }
  @include mobile {
    padding-bottom: 80px;
  }
  h2 { text-align: center; }
}

.features-list {
  padding-top: 35px;
  @include tablet { padding-top: 0; }
  * { color: #fff; }
  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-top: 150px;
    &:first-child { margin-top: 50px; }
    p, ul {
      margin-top: 24px;
      @include tablet {
        margin-top: 15px;
        font-size: 16px;
        line-height: 20px;
      }
    }
    .text-block { width: 50%; }
    .image-block {
      text-align: right;
      width: 50%;
      padding-left: 20px;
      img {
        max-width: 700px;
        border-radius: 2px;
      }
    }
    &--reversed {
      flex-direction: row-reverse;
      .text-block { text-align: right; }
      .image-block {
        padding-left: 0;
        padding-right: 20px;
        text-align: left;
      }
      @include tablet {
        .text-block { text-align: center; }
      }
    }
    @include tablet {
      display: block;
      text-align: center;
      margin-top: 50px;
      &:first-child { margin-top: 30px; }
      .text-block { width: 100%; }
      .image-block {
        margin-top: 30px;
        width: 100%;
        padding: 0;
      }
    }
  }
  @include desktop {

  }
}
